
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family:"Poppins", sans-serif;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

p {
    text-align: center;
}

main {
    background-color: #ffffff;
    padding: 60px 40px;
}

h1 {
    margin: 0px;
    text-align: center;
}

label,input,span {
    display: block;
}

label {
    font-size: 15px;
    color: rgb(133, 133, 133);
    font-weight: 500;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 12px;
    font-size: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 20px;
}

button {
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    color:whitesmoke;
    font-size: 15px;
}


a{
    text-decoration: none;
    text-align: right;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: red;
}

span{
    text-align: center;
    margin-top: 16px;
}